<div class="px-4 sm:px-6 lg:px-8">

  <%= column_chart @revenue_data_for_graph, xtitle: 'Date', ytitle: 'Revenue' %>

  <div class="mt-4 sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl text-base font-semibold leading-6 text-gray-900">Inventory by location</h1>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full sortable divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Flavors</th>
                <% @locations.each do |location| %>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= location.name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody data-controller="sortable" class="divide-y divide-gray-200 bg-white" id="items">
              <% @flavors.each do |flavor| %>
                <tr>
                  <td>
                    <div class="flex">
                      <%= flavor.name %>
                    </div>
                  </td>
                  <% @locations.each do |location| %>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 <%= flavor.alerting_inventory?(location) ? 'bg-red-500' : '' %>">
                      <%= flavor.location_inventory(location) %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
