<nav class="bg-gray-800">
  <div data-controller="nav-bar" class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 mt-2.5 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <%= image_tag "logowhite", class: "h-12" %>
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex mt-2 space-x-4">

            <div class="group">
              <%= link_to "Dashboard", dashboard_path, data: { action: 'click->nav-bar#activeLink' },
                class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            </div>

            <div class="group">
              <%= link_to "Users", users_path, data: { action: 'click->nav-bar#activeLink' },
                class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            </div>

            <div class="group">
              <%= link_to "Flavors", flavors_path, data: { action: 'click->nav-bar#activeLink' },
                class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            </div>

            <div class="relative ml-3">
              <div class="group" data-action="click->nav-bar#toggleLocationDropdown click->nav-bar#activeLink">
                <%= link_to "Sales", "javascript:void(0)", id: "sales-menu-button", "aria-expanded": "false", "aria-haspopup": "true",
                    class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              </div>

              <% if @stores.size > 0 %>
                <div data-nav-bar-target="salesLocationsList" class="mt-2 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <% @stores.each_with_index do |location, index| %>
                    <%= link_to location.name, sales_path(location_id: location.id), class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "sales-menu-item-#{index}" %>
                  <% end %>
                </div>
              <% else %>
                <div data-nav-bar-target="salesLocationsList" class="mt-2 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <%= link_to "Stores does not exists", "javascript:void(0)", class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "sales-menu-item-#{0}" %>
                </div>
              <% end %>
            </div>

            <div class="relative ml-3">
              <div class="group" data-action="click->nav-bar#toggleProdLocationDropdown click->nav-bar#activeLink">
                <%= link_to "Productions", "javascript:void(0)", id: "productions-menu-button", "aria-expanded": "false", "aria-haspopup": "true",
                    class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              </div>

              <% if @inventories.size > 0 %>
                <div data-nav-bar-target="productionsLocationsList" class="mt-2 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <% @inventories.each_with_index do |location, index| %>
                    <%= link_to location.name, productions_path(location_id: location.id), class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "sales-menu-item-#{index}" %>
                  <% end %>
                </div>
              <% else %>
                <div data-nav-bar-target="productionsLocationsList" class="mt-2 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <%= link_to "Inventories does not exists", "javascript:void(0)", class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "productions-menu-item-#{0}" %>
                </div>
              <% end %>
            </div>

            <div class="relative ml-3">
              <div class="group" data-action="click->nav-bar#toggleTransferLocationDropdown click->nav-bar#activeLink">
                <%= link_to "Transfers", "javascript:void(0)", id: "transfers-menu-button", "aria-expanded": "false", "aria-haspopup": "true",
                    class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              </div>

              <% if @inventories.size > 0 %>
                <div data-nav-bar-target="transfersLocationsList" class="mt-4 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <% @inventories.each_with_index do |location, index| %>
                    <%= link_to location.name, transfers_path(from_location_id: location.id), class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "transfers-menu-item-#{index}" %>
                  <% end %>
                </div>
              <% else %>
                <div data-nav-bar-target="transfersLocationsList" class="mt-2 absolute hidden z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sales-menu-button" tabindex="-1">
                  <%= link_to "Inventories does not exists", "javascript:void(0)", class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "transfers-menu-item-#{0}" %>
                </div>
              <% end %>
            </div>

            <div class="group">
              <%= link_to "Locations", locations_path, data: { action: 'click->nav-bar#activeLink' },
                class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            </div>

            <div class="group">
              <%= link_to "System Configuration", system_configuration_path, data: { action: 'click->nav-bar#activeLink' },
                class: "nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" if current_user.has_role?(:super_admin) %>
            </div>

            <div class="group">
              <%= link_to "Logout", sessions_path, data: { action: 'click->nav-bar#activeLink' },
                class:"nav-link group-[.active-link]:bg-gray-900 text-gray-300 group-[.active-link]:text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium", data: { turbo_method: :delete } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <%= link_to "Dashboard", dashboard_path, class: "bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" %>
      <%= link_to "Users", users_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %>
      <%= link_to "Logout", sessions_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium", data: { turbo_method: :delete } %>
    </div>
  </div>
</nav>
