<%= form_with(url: decrease_inventory_path, local: true) do |form| %>
  <%= form.label :location_id, 'Location' %>
  <%= form.select :location_id, options_for_select(@locations.map { |location| [location.name, location.id] }) %>

  <table>
    <thead>
      <tr>
        <th>Flavor</th>
        <th>Start of Day Inventory</th>
        <th>Daily Change</th>
      </tr>
    </thead>
    <tbody>
      <% @instock_flavors.each do |flavor| %>
        <tr>
          <td><%= flavor.name %></td>
          <td><%= location_flavor_inventory(flavor, @location) %></td>
          <td>
            <%= form.hidden_field :location_flavor_changes, "[#{flavor.id}][location_id]", value: @location %>
            <%= form.hidden_field :location_flavor_changes, "[#{flavor.id}][flavor_id]", value: flavor.id %>
            <%= form.label :location_flavor_changes, "[#{flavor.id}][inventory_change]", 'Change' %>
            <%= form.number_field :location_flavor_changes, "[#{flavor.id}][inventory_change]", min: 0 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form.submit 'Submit' %>
<% end %>

