<h1>Add Ice Cream to Inventory</h1>

<%= form_tag(location_flavors_increase_inventory_path, method: :post) do %>
  <% Flavor.where(instock: "Yes").each do |flavor| %>
    <div>
      <h2><%= flavor.name %></h2>
      <%#= hidden_field_tag :location_id, @location.id %>
      <%= hidden_field_tag "location_flavor[flavor_id]", flavor.id %>
      <%= label_tag "inventory_increase_#{flavor.id}", "Increase Inventory" %>
      <%= number_field_tag "location_flavor[inventory]", nil, min: 0 %>
    </div>
  <% end %>

  <%= submit_tag 'Submit' %>
<% end %>

<%= link_to 'Inventory Levels', location_flavors_inventory_levels_path %>




