<h1>Add Ice Cream to Inventory</h1>

<%= form_tag(increase_inventory_location_flavors_path, method: :post) do %>
  <%= hidden_field_tag :location_id, @location.id %>
  <% Flavor.where(instock: "Yes").each do |flavor| %>
    <div>
      <h2><%= flavor.name %></h2>
      <%= hidden_field_tag "location_flavor_ids[]", flavor.id %>
      <%= label_tag "inventory_increase_#{flavor.id}", "Increase Inventory" %>
      <%= number_field_tag "inventory_increases[#{flavor.id}]", nil, min: 0 %>
    </div>
  <% end %>

  <%= submit_tag 'Submit' %>
<% end %>

<%= link_to 'Inventory Levels', location_flavors_inventory_levels_path %>


