

<h1>New Location Flavor</h1>

<%= form_with(model: @location_flavor, url: location_flavors_path, method: :post) do |form| %>
  <%= form.label :flavor_id, 'Flavor' %>
  <%= form.collection_select :flavor_id, Flavor.all, :id, :name %>

  <%= form.label :location_id, 'Location' %>
  <%= form.collection_select :location_id, Location.all, :id, :name %>

  <%= form.label :quantity %>
  <%= form.number_field :quantity %>

  <%= form.label :inventory %>
  <%= form.number_field :inventory %>

  <%= form.submit 'Create Location Flavor' %>
<% end %>
