<%= form_tag(increase_inventory_location_flavors_path, method: :post) do %>
  <table>
    <thead>
      <tr>
        <th>Flavor</th>
        <% @locations.each do |location| %>
          <th><%= location.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @instock_flavors.each do |flavor| %>
        <tr>
          <td><%= flavor.name %></td>
          <% @locations.each do |location| %>
            <td>
              <%= hidden_field_tag "location_flavor_changes[#{location.id}][#{flavor.id}][location_id]", location.id %>
              <%= hidden_field_tag "location_flavor_changes[#{location.id}][#{flavor.id}][flavor_id]", flavor.id %>
              <%#= label_tag "location_flavor_changes[#{location.id}][#{flavor.id}][inventory_change]", "Change" %>
              <%= number_field_tag "location_flavor_changes[#{location.id}][#{flavor.id}][inventory_change]", nil, min: 0 %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Submit' %>
<% end %>

