<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="w-full sm:w-1/2 flex items-center">
      <h1 class="text-base text-xl font-semibold leading-6 text-gray-900">Transfers List</h1>
    </div>

    <div class="w-full sm:w-1/2 sm:text-right mt-3 sm:mt-0">
      <%= form_with url: '/transfers/new', method: :get, class: 'filter-form' do |form| %>
        <div class="flex flex-col sm:flex-row items-start sm:items-center bg-white mt-5 p-3 shadow rounded">
          <div class="flex items-center bg-gray-200 p-1 shadow rounded mb-2 sm:mb-0">
            <%= form.label :from_location_id, 'From Location ', class: "mr-2 text-left" %>
            <%= form.select :from_location_id,
               options_for_select(Location.all.pluck(:name, :id), params[:from_location_id] || Inventory.first.id),
               { required: true },
               selected: params[:from_location_id] || Inventory.first.id %>
          </div>

          <div class="flex items-center bg-gray-200 p-1 shadow rounded md:ml-5 sm:mb-0">
            <%= form.label :to_location_id, 'To Location ', class: "mr-2 text-left" %>
            <%= form.select :to_location_id, options_for_select(Location.all.pluck(:name, :id), params[:to_location_id]), { include_blank: 'Select location', required: true } %>
          </div>

          <div class="flex items-center md:p-1 md:ml-5">
            <%= form.submit 'New transfer', name: 'view', data: { turbo_frame: '_top' }, class: "rounded-lg py-2.5 px-2 border border-gray-500 bg-blue-600 text-white block font-medium" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full sortable divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Flavor</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Quantity</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">From Location</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">To Location</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Date</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Actions</th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 bg-white">
              <% @transfers.each do |transfer| %>
                <tr>
                  <td> <%= transfer.flavor.name %> </td>
                  <td> <%= transfer.quantity %> </td>
                  <td> <%= transfer.from_location.name %> </td>
                  <td> <%= transfer.to_location.name %> </td>
                  <td> <%= l transfer.created_at, format: :datetime %> </td>
                  <td>
                    <%= link_to "Destroy this record", transfer_path(transfer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "rounded-lg py-1 ml-2 px-2 bg-gray-100" %>
                  </td>
                </tr>
              <% end %>
            </tbody>

          </table>
          <div class="border-t border-gray-300">
            <div class="m-5 flex place-content-center">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
