<%= render "shared/errors", errors: @errors %>
<div class="my-5 grid grid-cols-4 gap-2 text-left">
  <div class="col-span-2 py-3 text-base border-b border-gray-200">
    <h3 class="text-xl">Flavor Name</h3>
  </div>
  <div class="col-span-2 py-3 border-b border-gray-200">
    <h3 class="text-xl">Quantity</h3>
  </div>
  <%= form_with(url: transfers_path, method: :post, class: "contents") do |form| %>
    <% @flavors.order_by_name.each do |flavor| %>
      <div class="col-span-2 py-3 text-base border-b border-gray-200">
        <%= form.label :flavor, flavor.name %>
      </div>
      <div class="col-span-2 py-3 border-b border-gray-200">
        <%= form.number_field "#{flavor.id}_quantity", min: 0, value: params.dig("#{flavor.id}_quantity").to_i, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      </div>
    <% end %>
    <%= form.hidden_field :to_location_id, value: @to_location.id %>
    <%= form.hidden_field :from_location_id, value: @from_location.id %>

    <div class="inline col-span-4 flex justify-between">
      <%= form.submit "Transfer", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Back to transfers', transfers_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
