<div class="">
  <div class="sm:flex-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold mb-4">Daily Sales Report</h1>
    <input type="date" value="<%= Date.today %>" />
  </div>

  <div class="border p-4 my-2">
    <h2 class="text-xl font-bold mb-4">All Stores</h2>

    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Flavors</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Starting Inventory</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Total Sales</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">EoD Inventory</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Revenue</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Profit</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% total_profit = 0 %>
        <% total_revenue = 0 %>
        <% grand_total_sales = 0 %>
        <% total_starting_inventory = 0 %>
        <% total_end_of_day_inventory = 0 %>
        <% @sales_data.each do |store_name, flavors| %>
          <% flavors.each do |flavor_name, data| %>
            <tr>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= flavor_name %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:starting_inventory] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:total_sale] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:end_of_day_inventory] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:revenue] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:profit] %></td>
            </tr>
            <% total_profit = total_profit + data[:profit].to_i %>
            <% total_revenue = total_revenue + data[:revenue].to_i %>
            <% grand_total_sales = grand_total_sales + data[:total_sale].to_i %>
            <% total_starting_inventory = total_starting_inventory + data[:starting_inventory].to_i %>
            <% total_end_of_day_inventory = total_end_of_day_inventory + data[:end_of_day_inventory].to_i %>
          <% end %>
        <% end %>
      </tbody>
        <tr class="font-bold">
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">Total</td>
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= total_starting_inventory %></td>
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= grand_total_sales %></td>
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= total_end_of_day_inventory %></td>
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">$<%= total_revenue %></td>
          <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">$<%= total_profit %></td>
        </tr>
      <tfoot>
      </tfoot>
    </table>
  </div>

  <div class="border p-4 my-2">
    <% @sales_data.each do |store_name, flavors| %>
      <h2 class="text-xl font-bold mb-4"><%= store_name %></h2>
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Flavors</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Starting Inventory</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Total Sales</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">EoD Inventory</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Revenue</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Profit</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% total_profit = 0 %>
          <% total_revenue = 0 %>
          <% grand_total_sales = 0 %>
          <% total_starting_inventory = 0 %>
          <% total_end_of_day_inventory = 0 %>
          <% flavors.each do |flavor_name, data| %>
            <tr>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= flavor_name %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:starting_inventory] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:total_sale] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:end_of_day_inventory] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:revenue] %></td>
              <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= data[:profit] %></td>
            </tr>
            <% total_profit = total_profit + data[:profit].to_i %>
            <% total_revenue = total_revenue + data[:revenue].to_i %>
            <% grand_total_sales = grand_total_sales + data[:total_sale].to_i %>
            <% total_starting_inventory = total_starting_inventory + data[:starting_inventory].to_i %>
            <% total_end_of_day_inventory = total_end_of_day_inventory + data[:end_of_day_inventory].to_i %>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="font-bold">
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">Total</td>
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= total_starting_inventory %></td>
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= grand_total_sales %></td>
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6"><%= total_end_of_day_inventory %></td>
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">$<%= total_revenue %></td>
            <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6">$<%= total_profit %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>

  <% Inventory.all.each do |inventory| %>
    <div class="border p-4 my-2">
      <h2 class="text-xl font-bold mb-4"><%= inventory.name %></h2>
    </div>
  <% end %>
</div>
