<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto flex justify-between items-center">
      <h1 class="text-base text-xl font-semibold leading-6 text-gray-900">Sales List</h1>
      <%= link_to 'New sale', new_sale_path(location_id: @location.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full sortable divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Date</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Flavor</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Location</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Quantity</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Actions</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @sales.each do |sale| %>
                <tr>
                  <td> <%= l sale.created_at, format: :datetime %> </td>
                  <td> <%= sale.flavor.name %> </td>
                  <td> <%= sale.location.name %> </td>
                  <td class="<%= sale.alerting_sale?(@system_configuration) ? 'bg-red-500' : '' %>"> <%= sale.quantity %> </td>
                  <td>
                    <%= link_to "Destroy this record", sale_path(sale), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "rounded-lg py-1 ml-2 px-2 bg-gray-100" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="border-t border-gray-300">
            <div class="m-5 flex place-content-center">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
