<div class="my-5 grid grid-cols-4 gap-2 text-left">
  <% if @errors.present? %>
    <div class="col-span-4 py-3 text-base border-b border-gray-200" style="color: red">
      <h2><%= @errors.size %> prohibited these sales from being saved:</h2>

      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-span-2 py-3 text-base border-b border-gray-200">
    <h3 class="text-xl">Flavor Name</h3>
  </div>
  <div class="col-span-2 py-3 border-b border-gray-200">
    <h3 class="text-xl">Quantity</h3>
  </div>
  <%= form_with(url: sales_path, method: :post, class: "contents") do |form| %>
    <% @flavors.order_by_name.each do |flavor| %>
      <div class="col-span-2 py-3 text-base border-b border-gray-200">
        <%= form.label :flavor, flavor.name %>
      </div>
      <div class="col-span-2 py-3 border-b border-gray-200">
        <%= form.number_field "#{flavor.id}_quantity", min: 0, value: params.dig("#{flavor.id}_quantity").to_i, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      </div>
    <% end %>
    <%= form.hidden_field :location_id, value: @location.id %>

    <div class="inline col-span-4 flex justify-between">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Back to sales', sales_path(location_id: @location.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
