<%= form_with(model: location.becomes(Location), url: url, class: "contents") do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.select :type, Location.types.keys, { include_blank: 'Select type', required: true },
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if location.persisted? %>
    <div class="my-5" data-controller="locations">
      <div class="flex justify-between">
        <%= form.label :flavor_ids, "Select Flavors" %>
        <div>
          <label>
            <input type="checkbox" id="select-all-checkbox" class="mr-1 rounded" data-action="change->locations#selectAllOptions">
            Select All
          </label>
        </div>
      </div>
      <div class="h-72 overflow-y-auto border border-gray-300 rounded p-2">
        <%= collection_check_boxes(:location, :flavor_ids, flavor_options_for_select, :id, :name, { item_wrapper_class: 'my-2' }) do |c_box| %>
          <div class="flex items-center my-2">
            <%= c_box.check_box(data: { locations_target: "flavorCheckBox" }, class: 'mr-2 h-5 w-5 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500') %>
            <%= c_box.label(class: 'text-sm') %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
