<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base text-xl font-semibold leading-6 text-gray-900">System configurations</h1>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <div class="grid grid-cols-2 text-left">
            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Quantity</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_quantity %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Sale</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_sale %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Daily Sale</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_daily_sale %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Per Store Daily Sale</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_daily_per_store_sale %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Production</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_production %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Daily Inventory</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_daily_inventory %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Alerting Daily Per Store Inventory</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @system_configuration.alerting_daily_per_store_inventory %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Report Sending Time</span>
            </div>
            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= l @system_configuration.send_report_at, format: :hours_mins if @system_configuration.send_report_at %></span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Report Sending Time</span>
            </div>

            <div class="border p-2 col-span-1">
              <span class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                <% @system_configuration.report_recipients.each do |recipient| %>
                  <%= recipient %><br>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Edit system configuration', edit_system_configuration_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
